@inherits LayoutComponentBase

<div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center bg-light">
    <div class="card shadow-lg p-4 w-100" style="max-width: 400px;">
        <div class="card-body">
            @Body
        </div>
    </div>
</div>
