<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CentroEventos.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <hr />
        <h6 class="px-3">Personas</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/personas">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Personas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/personas/nueva">
                <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Alta de Persona
            </NavLink>
        </div>

        <h6 class="px-3">Eventos</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/eventos">
                <span class="bi bi-calendar-event-fill" aria-hidden="true"></span> Listado de Eventos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/eventos/alta">
                <span class="bi bi-calendar-plus-fill" aria-hidden="true"></span> Alta de Evento
            </NavLink>
        </div>

        <h6 class="px-3">Reservas</h6>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reservas">
                <span class="bi bi-book-fill" aria-hidden="true"></span> Reservas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reservas/alta">
                <span class="bi bi-bookmark-plus-fill" aria-hidden="true"></span> Alta de Reserva
            </NavLink>
        </div>
    </nav>
</div>
