<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CentroEventos.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="/" Match="NavLinkMatch.All">
                <span class="material-symbols-rounded" aria-hidden="true">home</span>
                <span>
                    Inicio
                </span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="/personas" Match="NavLinkMatch.All">
                <span class="material-symbols-rounded" aria-hidden="true">diversity_2</span>
                <span>
                    Personas
                </span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="/eventos" Match="NavLinkMatch.All">
                <span class="material-symbols-rounded">event_available</span>
                <span>
                Eventos
                </span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link gap-2" href="/logout" Match="NavLinkMatch.All">
                <span class="material-symbols-rounded">logout</span>
                <span>
                    Logout
                </span>
            </NavLink>
        </div>
    </nav>
</div>
