@using CentroEventos.Aplicacion.Entidades

<td>@Dato.NombreCompleto</td>
<td>@Dato.DNI</td>
<td>@Dato.Email</td>
<td style="width: 150px;">
    <button class="btn btn-outline-primary btn-sm" @onclick="() => SolicitarVisualizacion.InvokeAsync(Dato)">Ver</button>
    <a class="btn btn-outline-secondary btn-sm" href="/personas/@Dato.Id">Editar</a>
    <button class="btn btn-outline-danger btn-sm" @onclick="() => SolicitarEliminacion.InvokeAsync(Dato)">Eliminar</button>
</td>

@code {
    [Parameter, EditorRequired]
    public Persona Dato { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback<Persona> SolicitarEliminacion { get; set; }
    [Parameter, EditorRequired]
    public EventCallback<Persona> SolicitarVisualizacion { get; set; }
}
