@page "/"

@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>¡Bienvenido!</h1>
        <p>Estás autenticado y puedes ver esta página.</p>
    </Authorized>
    <NotAuthorized>
        @code {
            protected override async Task OnInitializedAsync()
            {
                await Task.Run(() => Navigation.NavigateTo("/login", true));
            }
        }
    </NotAuthorized>
</AuthorizeView>
