@page "/reservas"
@inject ReservaObtenerTodosUseCase ObtenerReservas

<h3>Reservas</h3>
<p><a href="/reservas/nueva">Agregar Reserva</a></p>

@if (reservas is null)
{
    <p>Cargando...</p>
}
else
{
    <ul>
        @foreach (var r in reservas)
        {
            <li>@r.PersonaId - @r.EventoDeportivoId - @r.FechaAltaReserva.ToShortDateString()</li>
        }
    </ul>
}

@code {
    List<Reserva>? reservas;

    protected override void OnInitialized()
    {
        reservas = ObtenerReservas.Ejecutar().ToList();
    }
}