@page "/eventos/agregar"
@rendermode InteractiveServer
@layout MainLayout

@using CentroEventos.UI.Components.Forms

@inject EventoDeportivoCrearUseCase CrearUseCase
@inject PersonaObtenerTodosUseCase ObtenerPersonasUseCase
@inject NavigationManager Navigation

<h4 class="text-center my-4">Alta de Evento Deportivo</h4>

<EventoDeportivoForm
    Error="@Error"
    Mensaje="@Mensaje"
    OnSubmit="Guardar"
/>

@code {
    private string? Error { get; set; } = null;
    private string? Mensaje { get; set; } = null;

    private async Task Guardar(EventoDeportivo evento)
    {
        try
        {
            CrearUseCase.Ejecutar(evento);
            Mensaje = "Evento guardado correctamente.";
            Error = null;
            await Task.Delay(1000);
            await Task.Run(() => Navigation.NavigateTo("/eventos"));
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            Mensaje = null;
        }
    }
}
